header {
	margin-top: -10px;
}

.container-fluid {
	background-color: #A51C30;
	height: 80px;
}

.navbar-brand {
	margin-left: 30px;

}

.nav-link {
	color: #cfcfcf;
	font-size: 20px;
	margin-right: 10px;
}

.navbar-nav {
	float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
	font-family: franklin-gothic-atf, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 60px;
	color: #57101A;
	cursor: pointer;
}

footer {
	bottom: 0;
	left: 7%;
	right: 7%;
}

.front {
	margin-left: 3%;
	margin-top: 10%;
	color: #57101A;
}

h4 {
	color: #BD3C4E;
}


p {
	color: black;
}

li {
	list-style: none;
	display: inline-block;
}

.front-img {
	margin-left: 7%;
	margin-top: 2%;
}

.fronttest {
	/*position: absolute;*/
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	top: 25%;
	left: 9%;
	width: 80%;
	height: 50%;
}

.front, .front-img {
	flex: 1;
}

@media (max-width: 800px) {
  .fronttest {
    
    flex-direction: column;
  }
}